<div style="overflow: hidden;background-color: #333; color:#fcfafa;" class="topnav">
<ul style="list-style-type: none;margin: 0;padding: 0;">
<a style="color:#fcfafa; text-decoration:none" class="navbar-brand" href="/">In The Mood</a>
<% if user_signed_in? %>
  <li class="nav-item"><%= link_to "Sign out", destroy_user_session_path, method: :delete, class:"nav-link"%></li>
  <li><%= link_to "Edit Profile", edit_user_registration_path, class:"nav-link"%></li>
  <% else %>
  <li><%= link_to "Sign up", new_user_registration_path, class:"nav-link"%></li>
  <li><%= link_to "Sign in", new_user_session_path, class:"nav-link"%></li>
  <div style="float: right" class="topnav-right">
  <form class="d-flex" role="search">
    <input style="width: 150px; height: 40px; margin-top: 8px;padding: 4px;" class="form-control me-2" type="search" placeholder="Type Here" aria-label="Search">
      <button style="margin-right: 8px; padding-top: 11px; padding-bottom: 8px;" class="btn btn-outline-success" type="submit">Search</button>
    </form>
  </div>
  <% end %>
</ul>
</div>

<style>
a {
  float: left;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

li {
  color: inherit;
  text-decoration:none;
}
</style>

