<div class="select_page">
  <div>
    <h1>Here are the movie recommendations if you're in the mood for: <%= @mood.mood %></h1>
  </div>
	<br>
	<br>

<div class="movie-container">
		<% @movies_list.each do |m| %>
		
		<div class="movie-text" align="center">
			<h3><%= m.title %></h3>
		</div>
		
		<div class="movie-image" align="center">
			<p><img src="<%= m.image  %>" width="300" height="400"></p>
		</div>
		
		<% end %>
</div>