<div class="select_page">
  <div>
    <h1>Here are the movie recommendations if you're in the mood for: @mood.mood </h1>
  </div>

  <div class="recommended-mood">
    <% @movies_list.each do |m| %>
      <div>
		    <p><%= m.title %></p>
      </div>
      <div>
		    <img src="<%= m.image %>" >
      </div>
      <!--  button to indiviual movie page    -->
    <% end %>
  </div>
</div>
