<h1>Here are the movie recommendations for <%= @mood.mood %></h1>
<div>
<p><% @movies_list.each do |m| %></p>
	<div style="width: 300px; float: left;">
		<p><img src="<%= m.image  %>"></p> 
	</div>
		<h3><%= m.title %></h3>	
		<h4><%= m.description %></h4>	
	</div>
<% end %>
</div>


 


