<div class="select_page">
  <div>
    <h1>Here are the movie recommendations if you're in the mood for: <%= @mood.mood %></h1>
  </div>
  <div class="recommended-mood">
    <% @movies_list.each do |m| %>
	    <div style="width: 300px; float: left;">
		    <p><img src="<%= m.image  %>"></p> 
	    </div>
		<h3><%= m.title %></h3>	
		<h4><%= m.description %></h4>	
	</div>
<% end %>
</div>