<div class="select_page">
  <div align="center">
    <h2>Here are the movie recommendations if you're in the mood for:
    <br>
     <%= @mood.mood %></h2>
  </div>

	<br>
	<br>

<div class="movie-container">
		<% @movies_list.each do |m| %>
		
		<div class="movie-text" align="center">
			<h3><%= m.title %></h3>
		</div>
		
		<div class="movie-image" align="center">
			<p><img src="<%= m.image  %>" width="300" height="400"></p>
		</div>
    <div class="know-more" style="text-align: center;">
		<form action="/movie/<%=m.id%>">
      <input type="submit" value="Know more"/>
    </form>
    </div>
		<% end %>
</div>