<div class="movie-reommendations-page">
  <div class="movie-recommendations-page-title">
<h1><%= @mood.mood %></h1>
  </div>
  <div class="movie-recommendations-list">
<h2><%= @mood.id %></h2> 
  </div>
</div>