<%# app movie %>
<h1>Movie Mood app</h1>

<form action="/index" method="/post">
	<label for="user_mood">What are you in the mood for?</label>
   <select name="moods" id="mood">
      <option value="tearjerker">Tearjerker</option>
      <option value="feelgood">Feel good</option>
      <option value="thought-provoking">Thought-provoking</option>
      <option value="funny">Funny</option>
      <option value="inspirational">Inspirational</option>
      <option value="chill">Chill </option>
		<option value="nostalgic">Nostalgic</option>
		<option value="fightorflight">Fight or Flight</option>
		<option value="scream&jump">Scream & Jump</option>
		<option value="holding-hands">Holding-hands</option>
		<option value="nostalgic">Nostalgic</option>
		<option value="dramatic">Dramatic</option>
		<option value="escapism">Escapism</option>
		<option value="plotless">Plotless</option>
	 </select>
   <input type="submit" value="Pick!" />
</form>

